<h1>Jogos Cadastrados: </h1>

<a href="/jogos/novo">Cadastrar novo jogo.</a>
<table border="1">
   <tr>
    <td>Id:</td>
    <td>Título:</td>
    <td>Descrição:</td>
    <td>Preço:</td>
   </tr>
   {{#each jogos}}
   <tr>
    <td>{{this.id}}</td>
    <td>{{this.titulo}}</td>
    <td>{{this.descricao}}</td>
    <td>{{this.preco}}</td>
    <td>
      <a href="/jogos/{{this.id}}/update">Atualizar jogo.</a>
      <form action="/jogos/{{this.id}}/delete" method="post">
      <input type="submit" value="EXCLUIR"/>
      </form>
    </td>
   </tr>
   {{/each}}
</table>
